
<div align="center" >
    <br><br><br>
	<div style="margin:20px;">
		<div id="confirmBox" >
			<div class="message"></div>
			<button class="yes">Yes</button>
			<button class="no">No</button>
		</div>

        <div >
			<strong>What components did you use?</strong><br>
			<select data-placeholder="Choose one or more..." class="chosen-drop" id="AutomationTypeSelect" multiple style="width:300px;margin:20px;" />
		</div>

	</div>

	<div style="padding:40px; margin:40px;">
		<input class="submitBtn1" value="Submit" onclick="submitToolsUsed();"/>
	</div>
</div>










