<br><br>
<br><br>

<div class="w3-container" align="center" >
	<div class="w3-container" align="center">
		Hours saved to date: <span id='hoursSaved' class="w3-tag w3-green">200</span>
		<br>
		$$ saved to date: <span id='dollarsSaved' class="w3-tag w3-green">$200</span>
	</div>

	<br>
	<div style="margin:10px;padding:10px">
		<img src="images/globalstatements.png" />
	</div>
	<br>
		<img src="images/button-logusage.png" style="width:200px;height:50px;" onclick="location.href='#/developer'";/>
	<br>
		<img src="images/button-reports.png" style="width:150px;height:50px;" onclick="location.href='#/reports'"; />
	<br><br>
</div>




