<br><br>
<h1>Efficiency App reports</h1>

<div class="row">
    <span>
        <a href='javascript:dc.filterAll();dc.redrawAll();'>Reset All</a>
    </span>
</div>
<div class="row">
    <div class="6u chart=wrapper" id="toolRowChart">
        <div class="chart-title"><strong>Tool Usage Frequency</strong></div>
    </div>

</div>
<div class="row">
    <div class="6u chart=wrapper" id="appPieChart">
        <div class="chart-title"><strong>Usage by App</strong></div>
    </div>
</div>
<div class="row">
    <div class="6u chart=wrapper" id="envPieChart">
        <div class="chart-title"><strong>Usage by Envionment</strong></div>
    </div>
</div>


